body {
  background-color: #eceff1;
  /*background-color: #DEF2F1;*/
}

i {
  padding-left: 15px;
}

img {
  height: 150px;
  width: 250px;
}

p {
  margin: 0;
  padding: 0;
}

p.center-text {
  text-align: center;
}

div.progress-bar {
  width: 0 auto;
  height: 100%;
}

div.progress-bar-content {
  border-bottom: 3px solid white;
}

ul.dropdown-content li{
  text-align: center;
}

i#user-icon {
  color: #b0bec5;
}

div#location:hover, div#select-vehicle:hover, div#reserve:hover {
  border-bottom: 4px dotted #F4E04D;
}

div#location h6, div#select-vehicle h6, div#reserve h6{
  text-align: center;
}

div#main-nav {
  background-color: #5D737E;
}

div#progress-nav {
  background-color: #64B6AC;
}

#main-nav a:hover {
  color: #F4E04D;
}

#account {
  background-color: #64B6AC;
}

#account h4 {

}
