<div class="container" ng-controller="MainController as main">
  <div class="row" ng-controller="AccountController as account">
    <div class="card col s12 z-depth-0">
      <div class="row card-content">
        <div id="account-nav" class="section col s12">
          <div class="" ng-show="account.displayInfo">
            <ul class="collection with-header">
               <li class="collection-header"><h4>Manage Account</h4></li>
               <li class="collection-item"><b>First Name: </b>{{account.curUser.firstName}}</li>
               <li class="collection-item"><b>Last Name: </b>{{account.curUser.lastName}}</li>
               <li class="collection-item"><b>Email: </b>{{account.curUser.email}}</li>
               <!-- <li class="collection-item"><b>Phone Number: </b>{{main.currentUser.phone}}</li>
               <li class="collection-item"><b>Licence Number: </b>{{main.currentUser.license}}</li>
               <li class="collection-item"><b>Street: </b>{{main.currentUser.street}}</li>
                <li class="collection-item"><b>City: </b>{{main.currentUser.city}}</li>
               <li class="collection-item"><b>Zipcode: </b>{{main.currentUser.zip}}</li> -->
           </ul>
            <input ng-click="account.displayEditForm('show')" type="button" value="edit">
          </div>

          <form id="account-edit-form"
        ng-submit="account.edit(account.user, main.currentUser.id)">
            <span><b>First Name</b></span><input type="text" ng-model="account.user.firstName" required>
            <span><b>Last Name</b></span><input type="text" ng-model="account.user.lastName" required>
            <span><b>Email</b></span><input type="email" ng-model="account.user.email" required>
            <!-- <span><b>Phone Number</b></span><input type="text" ng-model="account.user.phone" required>
            <span><b>Licence Number</b></span><input type="text" ng-model="account.user.license" required>
            <span><b>Street</b></span><input type="text" ng-model="account.user.street" required>
            <span><b>City</b></span><input type="text" ng-model="account.user.city" required>
            <span><b>Zipcode</b></span><input type="text" ng-model="account.user.zip" required> -->
            <input type="submit" value="submit">
          <input ng-click="account.displayEditForm('hide')" type="button" name="" value="cancel">
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
