<div class="">
  <div class="row">
    <!-- left navigation panel -->
    <div class="col s12 m4 l3">
      <ul>
        <li>
          <div class="card">
            <div class="card-content input-field">
              <h5>vehicle type</h5>
              <form action="#">
                <p>
                  <input name="vehicleType" type="checkbox" id="economy" ng-model="typeOrder.economy" ng-true-value="'economy'" ng-false-value="''" />
                  <label for="economy">Economy</label>
                </p>
                <p>
                  <input name="vehicleType" type="checkbox" id="compact" ng-model="typeOrder.compact" ng-true-value="'compact'" ng-false-value="''" />
                  <label for="compact">Compact</label>
                </p>
                <p>
                  <input name="vehicleType" type="checkbox" id="midsize" ng-model="typeOrder.midsize" ng-true-value="'midsize'" ng-false-value="''" />
                  <label for="midsize">Midsize</label>
                </p>
                <p>
                  <input name="vehicleType" type="checkbox" id="standard" ng-model="typeOrder.standard" ng-true-value="'standard'" ng-false-value="''" />
                  <label for="standard">Standard</label>
                </p>
                <p>
                  <input name="vehicleType" type="checkbox" id="suv" ng-model="typeOrder.suv" ng-true-value="'suv'" ng-false-value="''"/>
                  <label for="suv">SUV</label>
                </p>
                <p>
                  <input name="vehicleType" type="checkbox" id="minivan" ng-model="typeOrder.minivan" ng-true-value="'Mini van'" ng-false-value="''" />
                  <label for="minivan">Minivan</label>
                </p>
              </form>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <div class="card-content input-field">
              <h5>price</h5>
              <form>
               <p>
                 <input name="price" id="highest-price" type="checkbox" ng-model="priceOrder.high" ng-true-value="'-rate'" ng-false-value="''" />
                 <label for="highest-price">Highest to lowest</label>
               </p>
               <p>
                 <input id="lowest-price" name="price" type="checkbox" ng-model="priceOrder.low" ng-true-value="'rate'" ng-false-value="''" />
                 <label for="lowest-price">Lowest to highest</label>
               </p>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- main content  -->
    <div class="col s12 m8 l9">
      <div class="card">
        <form>
         <div class="input-field">
           <input id="search" type="search" ng-model="searchBar" required>
           <label class="label-icon" for="search"><i class="material-icons">search</i></label>
           <!-- <i class="material-icons">close</i> -->
         </div>
       </form>
      </div>
      <div class="card col s4" ng-repeat="v in vehicle.resultVehicles | filter: searchBar | filter: typeOrder.economy | filter: typeOrder.compact | filter: typeOrder.midsize  | filter: typeOrder.standard | filter: typeOrder.suv | filter: typeOrder.minivan |  orderBy: priceOrder.low | orderBy: priceOrder.high">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src="{{v.img}}" alt="{{v.model}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{v.vehicleType}}<i class="material-icons right">more_vert</i></span>
          <p><b>{{v.manufacturer}} {{v.model}}</b></p>
          <p>Rate: {{v.rate | currency}}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title">{{v.manufacturer}} {{v.model}}<i class="material-icons right">close</i></span>
          <br>
          <div class="">
            <p><b>{{v.vehicleType}}</b></p>
            <p>{{main.vehicle.year}}</p>
            <p>{{main.vehicle.transmission}}</p>
            <p>Capacity: {{v.capacity}}</p>
          </div>
          <br>
          <div class="input-field">
            <input ng-click="main.isLoggedIn(v)" type="button" value="start reservation">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
