<div class="container">
  <div class="row">
    <div class="card col s8 offset-s2">
      <div class="card-content">
        <h4 class="center">Search for vehicles</h4>
        <br><br>
        <form class="col s12" id="search-form" ng-submit="main.search()" >
          <div class="row">
            <div class="input-field col s12">
              <select id="location-value"  class="browser-default z-depth-1" required>
                <option value="" disabled selected>Select a pick-up locaton</option>
                <option value="Weston">Weston</option>
                <option value="Boca Raton">Boca Raton</option>
                <option value="Miami">Miami</option>
                <option value="Fort Lauderdale">Fort Lauderdale</option>
                <option value="Coral Springs">Coral Springs</option>
                <option value="Sunrise">Sunrise</option>
              </select>
              <br>
              <!-- <label class="active" for="location-value">Location</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
               <input class="datepicker" type="date" min="{{main.date | date:'yyyy-MM-dd'}}" id="pick-up-date" required>
               <label class="active" for="pick-up-date">Pick Up Date</label>
               </div>
            <div class="input-field col s6">
              <input class="datepicker" type="date"  min="{{main.date | date:'yyyy-MM-dd'}}" id="return-date" required>
              <label class="active" for="return-date">Return Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light" type="submit">Submit<i class="material-icons right">send</i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
