<div class="row">
  <div class="card col s8 offset-s2">
    <div class="card-content">
      <h4>login</h4>
      <form ng-submit="auth.login(auth.user)">
      <input type="email" ng-model="auth.user.email" placeholder="email" required>
      <input type="password" ng-model="auth.user.password" placeholder="password" required>
      <input class="homebutton" type="submit" value="login">
    </form>
    <br>
    <p ng-if="auth.showLoginError" class="loginErrMsg" loginErrMsg>Incorret email or password. Please try again</p>
    <br>
    <p>Don't have an account? <a ui-sref="signup">Signup</a></p>
    </div>
  </div>
</div>
