<div class="row container">
  <h4>My Reservations</h4>
  <p ng-if="!reservation.showRes">You have no reservations at this moment</p>
    <div class="card col s4" ng-if="reservation.showRes" ng-repeat="r in reservation.allReservations">
      <div class="card-content"  >
        <p class="right-align"><i ng-click="reservation.cancel(r)" class="fa fa-trash-o" aria-hidden="true"></i></p>
        <p><b>Pick Up</b></p>
        <p> {{r.pickUp }}</p>
        <p><b>Drop Off</b></p>
        <p>{{r.dropOff}}</p>
        <p><b>Location</b></p>
        <p>{{r.location}}</p>
        <!-- <p><b>Total Cost</b></p> -->
        <!-- <p>{{r.cost | currency}}</p> -->
        <p><b>Reservation number</b></p>
        <p>{{r.id}}</p>
      </div>
    </div>
</div>
