<div ng-if="!main.reservationComplete" class="row">
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Review Vehicle</span>
        <div class="divider"></div>
        <br>
        <div class="row">
          <div class="col s6">
            <table>
              <tr>
                <td>
                  <img ng-src="{{main.vehicle.img}}" alt="{{main.vehicle.manufacturer}} {{main.vehicle.model}}">
                </td>
                <td>
                  <p><b>{{main.vehicle.manufacturer}} {{main.vehicle.model}}</b></p>
                  <p>{{main.vehicle.year}}</p>
                  <p>{{main.vehicle.vehicleType}}</p>
                  <p>{{main.vehicle.transmission}}</p>
                  <p>Capacity: {{main.vehicle.capacity}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">My Reservation</span>
        <div class="divider"></div>
        <br>
        <p><b>Pick-up</b></p>
        <p>{{main.pickUp}}</p>
        <br>
        <p><b>Drop-Off</b></p>
        <p>{{main.dropOff}}</p>
        <br>
        <p><b>Vehicle</b></p>
        <p>{{main.vehicle.manufacturer}} {{main.vehicle.model}}</p>
        <br>
        <p><b>Rate</b></p>
        <p>{{main.vehicle.rate | currency}} (USD per day)</p>
        <br>
        <p><b>Number of Days</b></p>
        <p>{{main.daysTotal}}</p>
        <br>
        <p>
          <b>Total: {{reservation.calculateTotalPrice(main.vehicle.rate) | currency}}
          </b>
        </p>
        <br>
        <p>
          <input ng-click="reservation.make(main.vehicle, main.location)" type="button" name="" value="reserve">
        </p>
      </div>
    </div>
  </div>
</div>
